@import "base.css";
@import "header.css";
@import "footer.css";

/***********************轮播********************/
#slider{
    width:1500px;
    height:600px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
#img{
    width:1500px;
    height:600px;
    position: absolute;
    top:0; left:0;
}
#img>li{
    float:left;
}
#index{
    position: absolute;
    left:50%;
    bottom:30px;
}
#index>li{
    float:left;
    width:15px; height:15px;
    background: transparent;
    border:5px solid red;
    border-radius: 50%;
    margin-right:20px;
    /*z-index:10;*/
}
#index>li.active{
    background: royalblue;
}
/*<!--推荐产品-->*/
#intro-ads{
    width:100%;
    border-bottom: 1px solid gray;
}
#intro{
    width:1908px;
    height:296px;
    margin:0 auto;
    padding-top:30px;
    /*border:1px solid red;*/
    overflow: hidden;
}
#intro>dl{
    float: left;
    width:477px;
    height:296px;
    text-align: center;
    line-height: 2em;
}
#intro dt:first-child{
    font-size:20px;
    color:#333333;
}
#intro dt+dt{
    color: #999999;
}
#intro dd{
    width:477px;
    height:340px;
    /*border:1px solid red;*/
    overflow: hidden;

}
#intro dd>img{
    transition: transform 1s linear;
}
#intro dd>img:hover{
    transform: scale(1.05,1.05);
}